.footer-container {
    position: relative;
    width: 100vw;
    height: 197px;
    background-color: $openLawDarkGreen;
  }
  
  .law-foundation-nav-logo{
    @include header-five;
    color: $openWhite;
    position: absolute;
    right: 63px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    float: right;

    p {
        padding-right: 34px;
    }
    svg {
        width: 93px;
        height: 93px;
    }
  }

  .footer-contact-us{
    @include header-five;
    color: $openWhite;
    position: absolute;
    left: 63px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .footer-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  
      a {
        color: $openWhite;
      }
    }


    @media (max-width: 670px) {
      .footer-container{
        height: 470px;
        .footer-items {
          .law-foundation-nav-logo{
            width: 100%;
            height: 50%;
            padding: 37px;
            padding-top: 80px;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
          }
          .footer-contact-us{
            width: 100%;
            height: 50%;
            padding: 37px;
            padding-top: 50px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0%);
          }
        }
      }
    }

  