.modal {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 484px;
  height: 416px;
  background: $openWhite;
  box-shadow: 0 4px 13px rgba(133, 133, 133, 0.25);
  border-radius: 5px;
  z-index: 8100;

  .modal-title{
    width: 100%;
    //height: 22px;
    margin-top: 53px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: $openLawArapawa;
    padding: 0 40px;
  }

  .modal-button{

    position: absolute;
    width: 310px;
    left: 88px;
    bottom: 34px;

    .modal-button-confirm {
      width: 155px;
      height: 45px;
    }
    .modal-button-cancel {
      width: 0;
      height: 0;
      margin-left: 60px;

    }
  }

  .modal-text{
    font-weight: 800;
    color: $openLawDarkGreen;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0 0 90px;
  }

  .modal-select{
    width: 306px;
    height: 40px;
    background-color: $ModalBackgroundWhite;
    border-radius: 5px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.25);
    margin-left: 88px;
  }

  .modal-input{
    margin-left: 88px;
  }
}

.modal-mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8099;
  background-color: rgba(250,250,250,0.7);
}

.prevent-scroll{
  height: 100%;
  overflow: hidden;
}

@media (max-width: 400px) {
  .modal{
    width: 90%;

    .button-group, .select{
      margin: 0 auto;
    }

    .modal-text{
      margin: 10px 0 0 16px;
    }

    .modal-input{
      margin-left: 16px;
    }

    .modal-button{
      left: 16px;
    }
  }
}
