.visuallyhidden {
  // hide from visual users, show for screen readers
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;

  &:focus {
    display: inline-block;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    clip: auto;
    color: #000000;
    background-color: #ffffff;
    clip-path: unset;
  }
}

.nav-container {
  .nav-items {
    position: absolute;
    width: 100%;
    padding: 65px 8vw;
    display: flex;
    flex-direction: row;

    .nav-links {
      position: absolute;
      right: 8vw;

      ul {
        display: flex;
        flex-direction: row;
        @include header-five;

        li {
          padding: 0 2.3vw;
        }

        a {
          color: $openWhite;
        }

        span {
          color: $openWhite;
        }

        span:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

#menuToggle input {
  display: none;
}

@media (max-width: 890px) {
  .nav-logo {
    position: absolute;
    left: 27px;
    top: 19px;
    svg {
      width: 145px;
    }
  }
  #menuToggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 40px;
    z-index: 200;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 250;

    cursor: pointer;

    opacity: 0;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 205;
    right: 30px;
    top: 30px;

    background: $openWhite;
    border-radius: 3px;
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-child(2) {
    transform: translate(0px, 10px);
  }

  #menuToggle span:nth-child(3) {
    transform: translate(0px, 20px);
  }

  #menuToggle input:checked {
    position: fixed;
  }

  #menuToggle input:checked ~ span {
    position: fixed;
    opacity: 1;
    transform: rotate(45deg) translate(0, 0);
    background: $openWhite;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    position: fixed;
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-14px, 11px);
  }

  #menu {
    position: fixed;
    z-index: 101;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 15vh;
    padding-left: 20vw;
    background: #2b6064;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    position: relative;
    padding: 5vh 0;
    font-size: 22px;
    z-index: 255;
    a{
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
