.profile-container {
    background-color: $openWhite;
    padding-top: 65px;
    padding-bottom: 150px;

    .folder-wrapper {
        width: 1102px;
        height: 661px;
        margin: 0 auto;
        @include card-style;

        .folder-head {
            color: $openWhite;
            font-weight: 700;
            @include header-three;
            padding: 16px 0px 11px 50px;
            background-color: $openLawDarkGreen;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .content {
            display: flex;
            flex-direction: row;
        }

        .folder-navbar {
            width: 195px;
            height: 615px;
            border-bottom-left-radius: 5px;
            background: #f7f7f7;

            &-title {
                color: $openLawDarkGreen;
                font-weight: bold;
                @include body;
                padding-left: 11px;
            }

            &-title-container {
                padding: 13px 21px 3px 17px;

                .large-folder2x {
                    width: 20px;
                    height: 16.17px;
                }
            }

            .folder-list {
                ul {
                    height: 521px;
                    margin: 0 0 0 0;
                    padding-left: 0;

                    li {
                        width: 195px;
                        height: 38.97px;
                        @include body;
                        font-weight: bold;
                        color: $openLawDarkGreen;
                        line-height: 19px;
                        padding: 10.6px 9px 0px 37px;

                        .small-folder2x {
                            width: 15px;
                            height: 12.12px;
                        }
                    }
                }

                .folder-name {
                    padding-left: 6px;
                }
            }

            .create-folder {
                color: $openLawDarkGreen;
                @include header-five;
                font-weight: 900;
                padding: 0px 46px 21px 23px;
            }
        }

        .folder-table-container {
            display: flex;
            flex-direction: column;
            width: 907px;

            .folder-table-title-container {
                display: flex;
                flex-direction: row;
                padding: 36px 0px 30px 16px;

                line-height: 40px;

                .delete-folder2x {
                    width: 21px;
                    height: 24px;
                    margin-top: 12px
                }

                .folder-table-title {
                    @include header-two;
                    color: $openLawDarkGreen;
                    font-weight: bold;
                    text-align: center;
                    align-items: center;
                    width: 220px;
                    height: 44px;
                }

                .folder-privacy {
                    width: 84px;
                    height: 31px;
                    color: $openLawLightBrown;
                    font-weight: bold;
                    @include header-five;
                    font-size: 18px;
                }

                .folder-edit {
                    width: 32px;
                    height: 25px;
                    @include header-five;
                    font-size: 18px;
                    text-decoration-line: underline;
                    text-decoration-color: $openLawDarkGreen;
                    color: $openLawDarkGreen;
                    padding-right: 535px;
                }
            }

            .folder-table-head {
                display: flex;
                flex-direction: row;
                width: 860px;
                height: 60px;
                background: #f7f7f7;
                margin: 0 auto;
                text-align: left;

                th {
                    font-weight: 900;
                    @include header-five;
                    color: $openLawDarkGreen;
                    padding: 21px 0px 18px 38px;
                }

                th:nth-child(1) {
                    width: 247px;
                    max-width: 247px;
                }

                th:nth-child(2) {
                    width: 327px;
                    max-width: 327px;
                }

                th:nth-child(3) {
                    width: 200px;
                    max-width: 200px;
                }

                th:nth-child(4) {
                    width: 142px;
                    max-width: 142px;
                }
            }

            .folder-table-content {
                display: flex;
                flex-direction: row;
                width: 860px;
                margin: 0 auto;
                border-bottom: 1px solid rgba(133, 133, 133, 0.5);

                td {
                    color: #3d3d3d;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 33px 0px 28px 38px;
                }

                td:nth-child(1) {
                    width: 247px;
                    max-width: 247px;
                }

                td:nth-child(2) {
                    width: 327px;
                    max-width: 327px;
                }

                td:nth-child(3) {
                    width: 200px;
                    max-width: 200px;
                }

                td:nth-child(4) {
                    width: 142px;
                    max-width: 142px;
                    padding-left: 0px;
                    text-align: center;
                }
            }
        }
    }
}