.radio-group-wrapper{

  .radio-title{
    vertical-align: top;
    font-weight: 900;
    font-size: 18px;
    display: inline-block;
    height: 100%;
    line-height: 100%;
    padding: 8px 8px 0 0;
  }

  .radio-group{
    display: inline-block;

    .radio-wrapper{
      height: 32px;
      position: relative;
      padding: 6px;

      .radio-combo {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        float: left;
      }

      .radio-combo .radio-target {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        display: inline-block;
        background: #ffffff;
        border: 2px solid $openLawDarkGreen;
        border-radius: 100%;
        top: 0;
        left: 0;
        bottom: 0;
      }


      .radio-combo input:checked+span {
        border-color: $openLawDarkGreen;

      }

      .radio-combo input:checked+span::before {
        content: '';
        position: absolute;
        background: $openLawLightBrown;
        width: 14px;
        height:14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
      }

      .radio-combo input[type=radio] {
        cursor: pointer;
        z-index: 2;
        width: 24px;
        height: 24px;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        right: 0;
        bottom: 0;
      }

      .radio-label{
        float: left;
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        height: 24px;
        text-align: center;
        margin-left: 16px;

      }

    }

    .radio-sub-value{
      padding :4px 0 0 4px;
      float: left;
      font-size: 12px;
      line-height: 16px;
    }

  }
}
