.table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}
thead tr {
  background-color: #3f7578;
  border-radius: 5px;
}
thead th {
  color: #fff;
  text-align: left;
  height: 60px;
  padding-left: 38px;
}

thead th:first-child {
  border-radius: 5px 0 0 0;
}

thead th:last-child {
  border-radius: 0 5px 0 0;
}

tbody tr {
  height: 80px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.5);
}
tbody tr td {
  padding-left: 38px;
}

.pageNumber {
  width: 20px;
  height: 23px;
  left: 906px;
  top: 636px;
}
