.results-wrapper {
  margin-bottom: 170px;
}

.results-info-wrapper {
  display: flex;
  width: 100%;
}

table.table {
  font-weight: bold;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  margin-bottom: 17px;

  .loading {
    opacity: 0.25;
    pointer-events: none;
  }

  thead {
    tr {
      background-color: #3f7578;
      border-radius: 5px;
    }

    th {
      color: $openWhite;
      text-align: left;
      height: 70px;
      padding-left: 20px;

      &:first-child {
        border-radius: 5px 0 0 0;
      }

      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }
  }
}

tbody tr {
  height: 100px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.5);

  td {
    padding: 30px 20px;
  }
}

.caseDate {
  text-decoration: none;
  color: black;
}

.caseName {
  a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      color: #CF9768;
    }
  }
}

.page-number {
  a {
    color: #3d3d3d;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
  }

  ul.pagination {
    display: flex;
    padding: 0;
    float: right;

    li {
      &:hover {
        cursor: pointer;
      }

      a:focus {
        outline: 0;
      }

      margin-left: 8px;
      border-radius: 3px;
      background: none;
    }

    li.active {
      background: $openLawA11yBrown;

      a {
        color: $openWhite;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 767px) {
  table.table {
    thead {
      th {
        padding-left: 38px;
      }
    }

    .caseDate {
      padding-right: 45px;
    }
  }

  tbody tr {
    td {
      padding: 38px;
    }
  }
}

@media (max-width: 360px) {
  tbody tr td {
    padding: 20px 10px;
  }

  table.table thead th {
    padding: 20px 10px;
  }
}