.results-wrapper {
  margin-bottom: 170px;
}

.results-info-wrapper{
  display: flex;
  width: 100%;
}

table.table {
  font-weight: bold;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 75%;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  margin-bottom: 17px;

  .loading {
    opacity: 0.25;
    pointer-events: none;
  }
  thead {
    tr {
      background-color: #3f7578;
      border-radius: 5px;
    }
    th {
      color: #fff;
      text-align: left;
      height: 70px;
      padding-left: 38px;
      &:first-child {
        border-radius: 5px 0 0 0;
      }
      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }
}
}

tbody tr {
  height: 100px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.5);
  td {
    padding: 38px;
  }
}

.caseDate{
    padding-right: 45px;
    text-decoration: none;
    color: black;
}

.caseName{
  a{
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.page-number {
  width: 75%;
  transform: translate(-50%, 0);
  margin-right: 0;
  position: relative;
  left: 50%;
  a {
    color: #3d3d3d;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
  }
  ul.pagination {
    display: flex;
    padding: 0;
    float: right;
    li {
      &:hover {
        cursor: pointer;
      }
      a:focus {
        outline: 0;
      }
      margin-left: 8px;
      border-radius: 3px;
      background: none;
    }
    li.active {
      background: $openLawLightBrown;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}