.search-container {
    position: relative;
    height: 200px;
  }

  .search {
    @include center;
    display: flex;
    width: 100%;
    max-width: 320px;
    z-index: 100;
  }

  .input-wrapper {
    max-width: 320px;
    width: 100%;
    border-radius: 5px;
    background-color: $openWhite;
    display: flex;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  }

  .search-label {
    // hide from visual users, show for screen readers
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;

    &:focus {
      display: inline-block;
      padding: 15px 23px 14px;
      width: auto;
      height: auto;
      clip: auto;
      color: #000000;
      background-color: #ffffff;
      clip-path: unset;
    }
  }

  .search-input {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 5px;
  }

  .search-msg {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    width: 320px;
    position: absolute;
    display: flex;
    z-index: 100;
    left: calc(50% - 160px);
    bottom: 22px;
    padding: 5px;
    border-radius: 5px;
    animation: shake 0.2s;
    opacity: .9;
    p{
      padding: 10px 7px; 
      width: 100%;
      text-align: left;
    }
    svg{
      padding-top: 5px;
    }
  }

  @keyframes shake{
    10%, 90% {
      transform: translateX(-1px);
    }

    20%, 80% {
      transform: translateX(2px);
    }

    30%, 50%, 70% {
      transform: translateX(-4px);
    }

    40%, 60% {
      transform: translateX(4px);
    }
    100% {
    }
  }

  .search-term {
    width: 100%;
    padding: 11px 15px;
    border: none;
    outline: none;
    color: #757575;
    background: $openWhite;
    border-radius: 5px 0 0 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
  }

  .searchTerm:focus {
    color: none;
  }

  .search-button {
    width: 47px;
    height: 47px;
    padding: 13px;
    border: none;
    background: $openWhite;
    text-align: center;
    color: $openLawA11yBrown;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .search-submit-button {
    display: none;
    border: none;
    margin-left: 14px;
    background: $openLawA11yBrown;
    padding: 0 53px;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: $openWhite;
    cursor: pointer;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    &:hover {
      color: $openLawA11yBrown;
      background: #fae8d9;
    }
  }



@media (min-width: 767px) {
  .search-container {
    .search,
    .input-wrapper {
      max-width: 740px;
    }

    .search-msg {
      width: 572px;
      left: calc(50% - 370px);
      p{
        width: 100%;
        text-align: left;
      }
    }

    .search-submit-button{
      display: inline;
    }
  }
}

.loading-text{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
